<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <center> 
            <h1>       BIG VALLEY Formulario    </h1>

            <form method="POST">
                {% csrf_token %} 
                <h2> Dados Cadastrais </h2>
                   {{Dados.as_p}}

                <h2> Endereço </h2>
                    {{Endereco.as_p}}

                <button type="submit"> Salvar </button>
                <button><a href="/"> retornar </a> </button>
            </form>

    </center>

</body>
</html>