<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <center> 
            <h1>       BIG VALLEY Formulario    </h1>

            <form method="POST">
                <div>
                    {% csrf_token %} 
                
                    <h2> Dados Cadastrais </h2>

                        Nome: {{Dados.nome}}<br/>
                        <br/>
                        Site: {{Dados.site}}<br/>
                        <br/>
                        Email: {{Dados.email}}<br/>
                        <br/>
                        CNPJ: {{Dados.cnpj}}<br/>
                        <br/>
                
                
                    <h2> Endereço </h2>

                        CEP:    {{Dados.cep}}<br/>
                        <br/>
                        Rua:    {{Dados.rua}}<br/>
                        <br/>
                        Bairro: {{Dados.bairro}}<br/>
                        <br/>
                        Cidade: {{Dados.cidade}}<br/>
                        <br/>
                        Estado: {{Dados.estado}}<br/>
                        <br/>
                
               
                    <h2> Dados do Representante </h2>

                        Nome do Representante: {{Dados.nome_representante}}<br/>
                        <br/>
                        Cargo: {{Dados.cargo}}<br/>
                        <br/>
                        Telefone: {{Dados.telefone}}<br/>
                        <br/>
                        Email do Representante: {{Dados.email_representante}}<br/>
                        <br/>

                
                        <button type="submit"> Salvar </button>
                        <button><a href="/"> Voltar </a> </button>
                </div>
            </form>

    </center>

</body>
</html>