<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Valley Tech Park</title>
</head>
<body>
    <div>
         <h1>
           BIG VALLEY
        </h1>
    </div>
    <div>
        <ul>
            <li> 
                <a href="admin"> admin </a>
            </li>
            <li>
                <a href="Sobre_Mapeamento"> Sobre Mapeamento </a>
            </li>
            <li>
                <a href="Vertentes_do_Mapemaneto"> Vertentes do Mapemaneto </a>
            </li>
            <li>
                <a href="form"> Formulário </a>
            </li>
        </ul>
    </div>
</body>
</html>