<!-- {% load static %}  -->
{% load bootstrap %}
<!-- usa o jinja para puxar a pasta static -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
            <h1>       BIG VALLEY Formulario    </h1>

            <form method="POST" >
                <div>
                    {% csrf_token %} 
                    
                    <div>
                        <h2> Dados Cadastrais </h2>

                        <!-- bootstrap_horizontal:'col-lg-9' -->
                        {{Dados.nome|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.site|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.email|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.cnpj|bootstrap_horizontal:'col-lg-9'}}
                    </div>
                            

                    <div>
                        <h2> Endereço </h2>
                        
                        
                        {{Dados.cep|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.rua|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.bairro|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.cidade|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.estado|bootstrap_horizontal:'col-lg-9'}}
                        
                    </div>
                    <div>

                        <h2> Dados do Representante </h2>
                        
                        {{Dados.nome_representante|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.cargo|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.telefone|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.email_representante|bootstrap_horizontal:'col-lg-9'}}
                        
                    </div>
                    <div>

                        <h2> Característica da Empresa/Startup </h2>
                        
                        {{Dados.setor_de_atuacao|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.area_de_atuacao_da_empresa_ou_startup|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.segmento_area|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.detalhes_de_area_de_atuacao|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.segmento_de_atuacao|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.tipo_de_cliente|bootstrap_horizontal:'col-lg-9'}}
                    </div>
                    <div>

                        <h2> Questionário </h2>
                        
                        {{Dados.possui_mercado_Global|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.possui_Influencia_ou_interesse_militar|bootstrap_horizontal:'col-lg-9'}}
                        
                        {{Dados.qual_estrategia_de_saida_ou_idealizada_para_o_negocio|bootstrap_horizontal:'col-lg-9'}}
                      
                        {{Dados.sua_startup_possui_conhecimento_ou_e_treinada_nas_metodologias_descritas_abaixo|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.caso_outra|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.startup_foi_fundada_dentro_dos_5_anos_de_graduacao_dos_fundadores|bootstrap_horizontal:'col-lg-9'}}
                        
                        {{Dados.numero_de_socios|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.ano_de_fundacao|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.ja_foi_investida|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.quantas_rodadas|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.montante_investido|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.quais_os_modelos_de_receitas_se_enquadra_no_perfil_da_empresa_startup|bootstrap_horizontal:'col-lg-9'}}
                        
                        {{Dados.quais_programas_iniciativas_movimentos_de_empreendedorismo_e_inovacao_que_participa|bootstrap_horizontal:'col-lg-9'}}                     
                        {{Dados.com_quais_entidades_do_ecossistema_tem_conexao_interacao_frequente_projetos_em_parceria_colaboracao_que_contribuiram_e_contribuem_para_as_inovacoes_e_aperfeicoamento_da_empresa|bootstrap_horizontal:'col-lg-9'}}
                        {{Dados.estes_parceiros_listados_acima_possuem_que_esfera|bootstrap_horizontal:'col-lg-9'}}
                        
                        
                    </div>   
                        
                        
                        
                        <button type="submit" class="btn btn-success">Salvar</button>   
                        <button type="button" class="btn btn-dark"><a href="{%url 'url_home'%}"> Voltar </a></button>  
                        <br/>
                        <br/>

                        
                </div>
            </form>


</body>
</html>