{% load static %} 
<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title>
      {% block title %} Big Valley {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bloco de Estilos -->
    {% block styles %} {% endblock %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'url_home' %}">
            <img src="{% static 'img/BgV.png' %}" height='45px'>
        </a>

        <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#conteudo-navbar" 
            aria-controls="conteudo-navbar" aria-expanded="false" 
            aria-label="Ativar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="conteudo-navbar">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <!-- referencia para chamar o admin -->
                <a class="nav-link" href= "admin"> 
                      Administrativo 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'url_startup' %}">
                      Sou uma Startup 
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'url_empresa' %}">
                    Sou uma Empresa 
                  </a>
              </li>
            </ul>           
        </div>

    </nav>
      
    <!-- Bloco de conteúdo -->
    {% block conteudo %} 
    <img src="{% static 'img/bigVgif.gif'%}" id='imagem'> 
    {% endblock %}

    <!-- Bloco de scripts -->
    {% block scripts %} {% endblock %} 

    <!-- Scripts.js -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!-- <script src="{% static 'js/cep.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>