<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Valley Tech Park</title>
</head>
<body>
    <div>
         <h1>
           BIG VALLEY
        </h1>
    </div>
    <div>
        <ul>
            <button><a href= "admin"> admin </a></button>
        
            
            <button > <a href="sobre_map">Sobre Mapeamento </a> </button>
            
            
            <button> <a href="vertentes_map">  Vertentes do Mapemaneto </a></button>
            
            
            <button> <a href="formulario"> Formulário </a> </button>
            
        </ul>
    </div>
</body>
</html>